@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: 'pink_blue';
  src: url(/fonts/Pink_Blue.ttf);
  font-style: normal;
  font-weight: 100;
}


.showcase .header .navbar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  padding-right: 10rem;

}
.showcase .header .navbar li a{
  font-size: 1.8rem;
  font-weight: 800;
  font-family: pink_blue;
  color: #ffba08;
}

.showcase .header .navbar a { 
  font-size: 800;
  color: #ffba08;
  font-family: pink_blue;
}

.showcase .header .navbar-brand{
  font-size: 3rem;
}


.showcase header .logo
{
  color: #ffba08;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 4rem;
  font-family: pink_blue;
  padding-top: 2rem;
}

.showcase header .logoico img{
  width: 800px;
  height: 400px;
  object-fit: cover;
  padding-top: 0;
  top: 0;
}


.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text
{
  position: relative;
  z-index: 10;
  text-align: center;
  width: 100%;
  height: 600px;
}

.text .logoprincipal{
  z-index: -1;
}
.text .lema {
  padding-top: 7rem;
}
.text .lema2{
  float:right;
  font-size: 4rem;
}

.text .lema1{
  font-size: 4rem;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #db3a34;
  line-height: 1em;
  text-transform: uppercase;
  font-family: pink_blue;
  line-height: 0.7;
  margin-bottom: 4rem;
}
.text h3
{
  font-size: 4em;
  font-weight: 800;
  color: #ffba08;
  line-height: 1em;
  text-transform: uppercase;
  font-family: pink_blue;
  margin-bottom: 2rem;
  
}
.text p
{
  font-size: 3em;
  color: #fff;
  font-weight: 400;
  max-width: 700px;
  text-transform: uppercase;
  font-family: 'pink_blue';

}
.text a
{
  display: inline-block;
  font-size: 2em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  align-items: center;
  font-family: 'pink_blue';
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 82%;
}
.social a{
    color: #ffff;
    font-size: 4rem;
    padding: 0 4rem 2rem;
}



.sobrenosotros{
  text-align: center;
  font-size: 2rem;
  margin:auto;
  padding: 40px 100px;
  background-color: #111;
  height: 100vh;
  line-height: 2;
}

.sobrenosotros h2{
  font-family: pink_blue;
  color: #ffba08;
  font-size: 3rem;
  font-weight: 800;
}

.sobrenosotros p{
  font-family: pink_blue;
  color: #ffff;
  padding-bottom: 3rem;

}

.nuestrosprofes{
  text-align: center;
  font-size: 2rem;
  margin:auto;
  padding: 40px 100px;
  background-color: #111;
  height: 100vh;
  line-height: 2;
}

.nuestrosprofes h2{
  font-family: pink_blue;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  color: #ffba08;
}
.navbar img{
  width: 90px;
  height: 90px;
}

.nuestrosprofes p{
  font-family: pink_blue;
  color: #fff;
}
@media (max-width: 991px)
{
  .showcase .navbar-light{
    background-color:#ffba08 !important;
}
  .showcase,
  .showcase header
  {
    padding: 40px;
    
  }
  .text h2
  {
    font-size: 2rem;
  }
  .text h3
  {
    font-size: 2em;
    font-family: pink_blue;
  }
  .showcase .text h3 img {
    width: 10px !important;
    height: 10px;
  }
  .logo h2{
      font-size: 1rem;
      font-family: pink_blue;
      
  }
  .social{
      width: 300px;
  }
  .social a{
      font-size: 35px;
      padding: 0 30px 20px 0;
      text-align: center;
  }

  .social a i .fab .facebook-fab{
    color: #3b5998;
  }

  .social a:last-child{
      padding-right: 0;
  }


}